html, body {
	margin: 0;
	padding: 0;
	border-width: 0;
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	font-family: sans-serif;
}

p {
	margin-bottom: 0.1em;
	padding: 0 0.5em;
	font-size: 0.8em;
	max-width: 30em;
}

#generator {
	overflow: auto;
}
#preview {
	flex: 1;
	text-align: center;
	overflow: hidden;
}
svg {
	max-height: 100%;
	max-width: 100%;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
li {
	display: flex;
	flex-direction: row;
	align-items: start;
	justify-content: space-between;
}
li > div {
	height: 1.2em;
	margin-left: 0.5em;
	width: 10em;
}
li > ul {
	flex: 1;
}

input[type="radio"], input[type="checkbox"] {
	vertical-align: text-top;
}

#download li {
	margin: 0.2em;
	align-items: baseline;
	position: relative;
}
#download button, #download input {
	height: 2.5em;
	box-sizing: border-box;
}
#download button {
	flex: 1;
}
#download input {
	margin: 0 0.5em;
}

#race ul {
	display: flex;
	flex-direction: row;
	white-space: nowrap;
	flex-wrap: wrap;
}
#race li {
	flex: 1 1 40%;
}

#hair {
	display: flex;
	flex-direction: row;
}
#hair > fieldset {
	flex: 1;
	width: 8em;
}

.gradient-selector {
	margin-bottom: 2em;
}

.color-selector {
	border: 1px solid rgba(0,0,0,0.2);
	box-sizing: border-box;
}

